.searchBox{
  height: 84px;
  width: 100%;
}
.searchZoom{
  float: left;
  margin: 12px 0 0 13px;
  padding-left: 8px;
  height: 28px;
  width: 266px;
  border: 1px solid #c4c6cf;
  border-radius: 3px;
}
.searchBox input{
  float: left;
  height: 100%;
  outline: none;
  font-size: 12px;
  text-align: left;
  line-height: 28px;
}
.searchBox .searchBtn{
  float: right;
  margin: 2px 5px 0 0;
  height: 24px;
  width: 24px;
  background: 50% no-repeat;
  background-image: url(../../images/left_spring.png);
  background-size: 75px 51px;
  background-position: -47px -25px;
}